.todos {
    &__create-input {
        margin: 0 auto 5px;
        width: 300px;
    }

    &__create-button {
        display: block;
        margin: 0 auto 20px;
    }

    &__task {
        &--completed {
            text-decoration: line-through;
        }

        line-height: 2;
    }

    &__update-input {
        margin: 0 auto;
        width: 300px;
    }

    &__chckbx {
        position: relative;
        top: 4px;
    }
}

th, td {
    font-size: 14px;
    text-align: center;
}

button.btn{
    font-size: 14px;
    padding: 4px 8px;
}
